<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Project  ~Aryan</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/62427ff058.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <section id="header">
        <a href="#"><img src="images/Untitled-2.png" class="logo" width="100px"></a>

        <div>
            <ul id="navbar">
                <li><a  href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a class="active" href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li id="lg-bag"><a href="cart"><i class="fa-solid fa-bag-shopping"></i>
                  <span class="cart-badge" style="display:none; position:absolute; top: -8px; right: -8px; background-color: red; color: white; padding: 2px 5px; font-size: 18px; border-radius: 50%;">0</span></a></li>
                <a href="#" id="close"><i class="fa-solid fa-close"></i></a>
            </ul>
        </div>

        <div id="mobile">
          <a href="cart"><i class="fa-solid fa-bag-shopping"></i>
            <span class="mobile-cart-badge" style="display:none; position:absolute; top: 15px; right: 60px; background-color: red; color: white; padding: 2px 5px; font-size: 14px; border-radius: 50%; z-index: 1;">0</span></a>
          <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </section>
    
   

<section id="page-header" class="about-header">
    
    <h2>Our Story, Our Mission</h2>
   
    <p>Creating Value , Building Connections</p>
   
</section>

<section id="about-head" class="section-p1">
<img src="images/about/a6.jpg">
<div>
    <h2>Who We Are?</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, dignissimos optio distinctio ipsam repellendus quis amet cumque deleniti tempore aspernatur reiciendis laboriosam dicta libero id veniam nihil, eum labore nisi natus? Dolor, reiciendis obcaecati non beatae numquam deleniti ipsum? Architecto!</p>
    <abbr title="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus voluptate dolore sit, recusandae id tempore possimus vitae nisi iure nostrum.</abbr>
    <br><br>

    <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis alias consequuntur facilis facere veniam voluptates, maxime numquam maiores est modi!</marquee>


</div>
</section>

<section id="about-app" class="section-p1">
  <h1>Download Our <a href="#">App</a></h1>
  <div class="video">
    <video autoplay muted loop src="images/about/1.mp4"></video>
  </div>
</section>


<section id="feature" class="section-p1">
  <div class="fe-box">
      <img src="images/features/f1.png">
      <h6>Free Shipping</h6>
  </div>

  <div class="fe-box">
      <img src="images/features/f2.png">
      <h6>Online Order</h6>
  </div>

  <div class="fe-box">
      <img src="images/features/f3.png">
      <h6>Save Money</h6>
  </div>

  <div class="fe-box">
      <img src="images/features/f4.png">
      <h6>Promotions</h6>
  </div>

  <div class="fe-box">
      <img src="images/features/f5.png">
      <h6>Happy sell</h6>
  </div>

  <div class="fe-box">
      <img src="images/features/f6.png">
      <h6>24/7 Support</h6>
  </div>

</section>


<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up for NewsLetters</h4>
    <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
  </div>
  <div class="form">
    <input type="text" placeholder="Enter your e-mail">
    <button class="normal">Sign Up</button>
  </div>
</section>


  
  
<footer class="section-p1">
  <div class="col">
    <img class="logo" src="images/Bird Logo.jpg" width="100px">
    <h4>Contact</h4>
    <p><strong>Address:</strong>401 Vijay Path Road, New Delhi</p>
    <p><strong>Hours:</strong>9:30 - 18:00, Mon - Fri </p>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>
 
  <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="images/pay/app.jpg">
      <img src="images/pay/play.jpg">
    </div>
    <p>Secured payment Gateway</p>
    <img src="images/pay/pay.png">
  </div>
  
  
</footer>
<div class="copyright section-p1 ">
  <p>&copy E-commerce project , Made By AryanSrivastava</p>
</div>


    <script src="/js/script.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
